{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path = new paper.Path();
    var uid = Date.now() % 10000; // Use this to ID the user
    path.strokeColor = "red";
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var randomColor = Math.floor(Math.random()*16777215).toString(16);
    var users = []
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const winSize = params.size;
    console.log(winSize);
    var lastWriter = undefined;
    tool.onMouseMove = function(event) { //http://paperjs.org/reference/tool/ path examples
        let userColor = "#" + randomColor
        //path.strokeColor = userColor;
       //path.add(event.point);
       // You may need to add code here if you want to pass any other information.
        if (winSize == 'small') {
            if (lastWriter != uid) {
                path = new paper.Path();
                path.strokeColor = '#' + randomColor;
                path.add(event.point)
            } else {
                path.strokeColor = '#' + randomColor;
                path.add(event.point);
            }
            lastWriter = uid
            var data = {
                x: event.point.x,
                y: event.point.y,
                uid: uid,
                color: randomColor
            };

            socket.send(JSON.stringify(data));
        }
        
       //socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid  + "}" );
    }
    /*
    tool.onMouseDown = function(event) {
        if (winSize == 'small') {
            path = new paper.Path();
            path.strokeColor = '#' + randomColor;
            var data = {
                new_path: true,
                uid: uid
            }
            socket.send(JSON.stringify(data));
        }
    }

    tool.onMouseDrag = function(event) {
        if (winSize == 'small') {
            path.strokeColor = '#' + randomColor;
            path.add(event.point);
            var data = {
                x: event.point.x,
                y: event.point.y,
                uid: uid,
                color: randomColor
            };
            socket.send(JSON.stringify(data));
        }
    */
    socket.onopen = function(event) {
        console.log("connected!")
    }
 
    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        // You will probably want to add some code here to draw more lines.
        //path = new paper.Path();

        
        if (winSize == 'large') {
            if (received.uid != lastWriter ) {
                path = new paper.Path();
                let p = new paper.Point(received.x, received.y);
                path.strokeColor = '#' + received.color
                console.log('#' + received.color)
                console.log('adding point.');
                path.add(p)
                lastWriter = received.uid
            } else {
                let p = new paper.Point(received.x, received.y);
                console.log(p)
                path.strokeColor = '#' + received.color
                console.log('#' + received.color)
                console.log('adding point.');
                path.add(p)
            }
        }
        
        /*
        if (received.new_path != undefined && received.uid != undefined) {
            if (received.uid != uid && winSize == 'large') {
                path = new paper.Path();
            }
        } else {
            if (received.uid != uid && winSize == 'large') {
                let p = new paper.Point(received.x, received.y);
                console.log("00" + received.uid)
                path.strokeColor = "#" + received.color
                console.log("stroke color" + path.strokeColor)
                path.add(p);
            }

        }
        */
        
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
